openapi: 3.1.0

info:
  title: UseGrant API
  description: UseGrant API for interacting with UseGrant services.
  version: 1.0.0
  contact:
    email: support@usegrant.dev
    url: https://usegrant.dev/docs

servers:
  - url: https://sdk.usegrant.dev

paths:
  /v1/projects:
    post:
      summary: Create a project
      description: Create a new project.
      operationId: createProject
      tags:
        - Projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
            examples:
              default_example:
                $ref: '#/components/examples/CreateProjectRequestExample'

      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              examples:
                default_example:
                  $ref: '#/components/examples/CreateProjectResponseExample'
        400:
          description: Bad request
        404:
          description: Not found
        401:
          description: Unauthorized
        500:
          description: Internal server error

  /v1/projects/{projectId}:
    get:
      summary: Get a project
      description: Get a project by ID.
      operationId: getProject
      tags:
        - Projects
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              examples:
                default_example:
                  $ref: '#/components/examples/GetProjectResponseExample'
        401:
          description: Unauthorized
        404:
          description: Not found
        500:
          description: Internal server error


components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  parameters:
    ProjectId:
      name: projectId
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/ProjectId'
  schemas:
    ProjectId:
      type: string
      description: ID of the project
      example: 123e4567-e89b-12d3-a456-426614174000
    ProjectName:
      type: string
      description: Name of the project
      example: Acme Auth App
    ProjectDescription:
      type: string
      description: Description of the project
      example: Acme Auth App Description
    CreateProjectRequest:
      type: object
      description: Request payload for creating a new project.
      properties:
        name:
          $ref: '#/components/schemas/ProjectName'
        description:
          $ref: '#/components/schemas/ProjectDescription'
      required:
        - name
        - description
    Project:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ProjectId'
        name:
          $ref: '#/components/schemas/ProjectName'
        description:
          $ref: '#/components/schemas/ProjectDescription'
      required:
        - id
        - name
        - description
  examples:
    CreateProjectRequestExample:
      summary: Create project request
      value:
        name: Acme App
        description: Acme App Description
    CreateProjectResponseExample:
      summary: Created project
      value:
        id: 123e4567-e89b-12d3-a456-426614174000
        name: Acme App
        description: Acme App Description
    GetProjectResponseExample:
      summary: Get project
      value:
        id: 123e4567-e89b-12d3-a456-426614174000
        name: Acme App
        description: Acme App Description

tags:
  - name: Projects
    description: Projects are the main entities in UseGrant.
  - name: Clients
    description: Clients are the entities that receive grants.

security:
  - BearerAuth: []
