openapi: 3.1.0

info:
  title: UseGrant API
  description: API for interacting with UseGrant services.
  version: 1.0.0
  contact:
    email: support@usegrant.dev
    url: https://usegrant.dev/docs

servers:
  - url: https://sdk.usegrant.dev

paths:
  /v1/projects:
    post:
      summary: Create a project
      description: Create a new project.
      operationId: createProject
      tags:
        - Projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
            examples:
              default:
                $ref: '#/components/examples/CreateProjectRequestExample'
      responses:
        201:
          description: Project created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              examples:
                default:
                  $ref: '#/components/examples/CreateProjectResponseExample'
        allErrors:
          $ref: '#/components/responses/AllErrorResponses'

  /v1/projects/{projectId}:
    get:
      summary: Get a project
      description: Retrieve a project by its ID.
      operationId: getProject
      tags:
        - Projects
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        200:
          description: Project retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              examples:
                default:
                  $ref: '#/components/examples/GetProjectResponseExample'
        allErrors:
          $ref: '#/components/responses/AllErrorResponses'

    delete:
      summary: Delete a project
      description: Delete a project by its ID.
      operationId: deleteProject
      tags:
        - Projects
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        204:
          description: Project deleted successfully.
        allErrors:
          $ref: '#/components/responses/AllErrorResponses'

  /v1/projects/{projectId}/clients:
    post:
      summary: Create a client
      description: Create a new client within a specified project.
      operationId: createClient
      tags:
        - Clients
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClientRequest'
            examples:
              default:
                $ref: '#/components/examples/CreateClientRequestExample'
      responses:
        201:
          description: Client created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
              examples:
                default:
                  $ref: '#/components/examples/CreateClientResponseExample'
        allErrors:
          $ref: '#/components/responses/AllErrorResponses'

  /v1/projects/{projectId}/clients/{clientId}:
    get:
      summary: Get a client
      description: Retrieve a client by its ID.
      operationId: getClient
      tags:
        - Clients
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/ClientId'
      responses:
        200:
          description: Client retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
              examples:
                default:
                  $ref: '#/components/examples/GetClientResponseExample'
        allErrors:
          $ref: '#/components/responses/AllErrorResponses'

    delete:
      summary: Delete a client
      description: Delete a client by its ID.
      operationId: deleteClient
      tags:
        - Clients
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/ClientId'
      responses:
        204:
          description: Client deleted successfully.
        allErrors:
          $ref: '#/components/responses/AllErrorResponses'

  /v1/projects/{projectId}/clients/{clientId}/tokens:
    post:
      summary: Create a token
      description: Create a new token for a client.
      operationId: createToken
      tags:
        - Tokens
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/ClientId'
      responses:
        201:
          description: Token created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
              examples:
                default:
                  $ref: '#/components/examples/CreateTokenResponseExample'
        allErrors:
          $ref: '#/components/responses/AllErrorResponses'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: ApiKey

  parameters:
    ProjectId:
      name: projectId
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/ProjectId'
    ClientId:
      name: clientId
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/ClientId'

  schemas:
    ProjectId:
      type: string
      description: Unique identifier for a project.
      example: 9b2e4d7a-8c3f-4b2a-9a1e-2d3c4e5f6a7b

    ProjectName:
      type: string
      description: Name of the project.
      example: Acme Auth App

    ProjectDescription:
      type: string
      description: Description of the project.
      example: Acme Auth App Description

    ClientId:
      type: string
      description: Unique identifier for a client.
      example: 550e8400-e29b-41d4-a716-446655440000

    ClientName:
      type: string
      description: Name of the client.
      example: Acme Auth Client

    ClientDescription:
      type: string
      description: Description of the client.
      example: Client for Acme Auth App

    CreateProjectRequest:
      type: object
      description: Payload for creating a new project.
      properties:
        name:
          $ref: '#/components/schemas/ProjectName'
        description:
          $ref: '#/components/schemas/ProjectDescription'
      required:
        - name
        - description

    CreateClientRequest:
      type: object
      description: Payload for creating a new client.
      properties:
        name:
          $ref: '#/components/schemas/ClientName'
        description:
          $ref: '#/components/schemas/ClientDescription'
      required:
        - name
        - description

    Project:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ProjectId'
        name:
          $ref: '#/components/schemas/ProjectName'
        description:
          $ref: '#/components/schemas/ProjectDescription'
      required:
        - id
        - name
        - description

    Client:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ClientId'
        name:
          $ref: '#/components/schemas/ClientName'
        description:
          $ref: '#/components/schemas/ClientDescription'
      required:
        - id
        - name
        - description

    Token:
      type: object
      properties:
        accessToken:
          type: string
          description: Access token for the client.
        expiresAt:
          type: string
          description: Expiration date and time of the access token.
        type:
          type: string
          description: Type of the token.
      required:
        - accessToken
        - expiresAt
        - type
  examples:
    CreateProjectRequestExample:
      summary: Example request for creating a project.
      value:
        name: Acme App
        description: Project for Acme application.

    CreateProjectResponseExample:
      summary: Example response for created project.
      value:
        id: 9b2e4d7a-8c3f-4b2a-9a1e-2d3c4e5f6a7b
        name: Acme App
        description: Project for Acme application.

    GetProjectResponseExample:
      summary: Example response for retrieving a project.
      value:
        id: 9b2e4d7a-8c3f-4b2a-9a1e-2d3c4e5f6a7b
        name: Acme App
        description: Project for Acme application.

    CreateClientRequestExample:
      summary: Example request for creating a client.
      value:
        name: Client Name
        description: Client for Acme App.

    CreateClientResponseExample:
      summary: Example response for created client.
      value:
        id: 550e8400-e29b-41d4-a716-446655440000
        name: Client Name
        description: Client for Acme App.

    GetClientResponseExample:
      summary: Example response for retrieving a client.
      value:
        id: 550e8400-e29b-41d4-a716-446655440000
        name: Client Name
        description: Client for Acme App.

    CreateTokenResponseExample:
      summary: Example response for created token.
      value:
        accessToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
        expiresAt: 2024-01-01T00:00:00Z
        type: Bearer

  responses:
    AllErrorResponses:
      description: Common error responses.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
      responses:
        400:
          description: Invalid request parameters.
        401:
          description: Authentication is required.
        404:
          description: Resource not found.
        500:
          description: Internal server error.

tags:
  - name: Projects
    description: Project management in UseGrant.
  - name: Clients
    description: Client entities that interact with UseGrant services.

security:
  - BearerAuth: []
