openapi: 3.1.0

info:
  title: UseGrant API
  description: API for interacting with UseGrant services.
  version: 1.0.0
  contact:
    email: support@usegrant.dev
    url: https://usegrant.dev/docs

servers:
  - url: https://sdk.usegrant.dev

paths:
  /v1/providers:
    post:
      summary: Create provider
      description: Create a new provider.
      operationId: createProvider
      tags:
        - Providers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProviderRequest'
            examples:
              default:
                $ref: '#/components/examples/CreateProviderRequestExample'
      responses:
        $ref: '#/components/responses/CommonErrors'
        201:
          description: Provider created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
              examples:
                default:
                  $ref: '#/components/examples/CreateProviderResponseExample'

  /v1/providers/{providerId}:
    get:
      summary: Get provider
      description: Retrieve a provider by its ID.
      operationId: getProvider
      tags:
        - Providers
      parameters:
        - $ref: '#/components/parameters/ProviderId'
      responses:
        $ref: '#/components/responses/CommonErrors'
        200:
          description: Provider retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
              examples:
                default:
                  $ref: '#/components/examples/GetProviderResponseExample'

    delete:
      summary: Delete provider
      description: Delete a provider by its ID.
      operationId: deleteProvider
      tags:
        - Providers
      parameters:
        - $ref: '#/components/parameters/ProviderId'
      responses:
        $ref: '#/components/responses/CommonErrors'
        204:
          description: Provider deleted successfully.

  /v1/providers/{providerId}/clients:
    post:
      summary: Create client
      description: Create a new client within a specified provider.
      operationId: createClient
      tags:
        - Clients
      parameters:
        - $ref: '#/components/parameters/ProviderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClientRequest'
            examples:
              default:
                $ref: '#/components/examples/CreateClientRequestExample'
      responses:
        $ref: '#/components/responses/CommonErrors'
        201:
          description: Client created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
              examples:
                default:
                  $ref: '#/components/examples/CreateClientResponseExample'

  /v1/providers/{providerId}/clients/{clientId}:
    get:
      summary: Get client
      description: Retrieve a client by its ID.
      operationId: getClient
      tags:
        - Clients
      parameters:
        - $ref: '#/components/parameters/ProviderId'
        - $ref: '#/components/parameters/ClientId'
      responses:
        $ref: '#/components/responses/CommonErrors'
        200:
          description: Client retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
              examples:
                default:
                  $ref: '#/components/examples/GetClientResponseExample'

    delete:
      summary: Delete client
      description: Delete a client by its ID.
      operationId: deleteClient
      tags:
        - Clients
      parameters:
        - $ref: '#/components/parameters/ProviderId'
        - $ref: '#/components/parameters/ClientId'
      responses:
        $ref: '#/components/responses/CommonErrors'
        204:
          description: Client deleted successfully.

  /v1/providers/{providerId}/clients/{clientId}/tokens:
    post:
      summary: Create access token
      description: Create a new access token for a client.
      operationId: createToken
      tags:
        - AccessTokens
      parameters:
        - $ref: '#/components/parameters/ProviderId'
        - $ref: '#/components/parameters/ClientId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTokenRequest'
      responses:
        $ref: '#/components/responses/CommonErrors'
        201:
          description: Token created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
              examples:
                default:
                  $ref: '#/components/examples/CreateTokenResponseExample'

  /v1/tenants:
    post:
      summary: Create tenant
      description: Create a new tenant.
      operationId: createTenant
      tags:
        - Tenants
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTenantRequest'
      responses:
        $ref: '#/components/responses/CommonErrors'
        201:
          description: Tenant created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'

  /v1/tenants/{tenantId}:
    get:
      summary: Get tenant
      description: Retrieve a tenant by its ID.
      operationId: getTenant
      tags:
        - Tenants
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        $ref: '#/components/responses/CommonErrors'
        200:
          description: Tenant retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
              examples:
                default:
                  $ref: '#/components/examples/GetTenantResponseExample'
    delete:
      summary: Delete tenant
      description: Delete a tenant by its ID.
      operationId: deleteTenant
      tags:
        - Tenants
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        $ref: '#/components/responses/CommonErrors'
        204:
          description: Tenant deleted successfully.

  /v1/tenants/{tenantId}/providers:
    post:
      summary: Create tenant provider
      description: Create a new provider for a tenant.
      operationId: createProviderForTenant
      tags:
        - Tenants
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTenantProviderRequest'
      responses:
        $ref: '#/components/responses/CommonErrors'
        201:
          description: Provider created successfully.

  /v1/tenants/{tenantId}/validate:
    post:
      summary: Validate access token
      description: Validate an access token.
      operationId: validateAccessToken
      tags:
        - Tenants
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: The access token to validate.
      responses:
        $ref: '#/components/responses/CommonErrors'
        200:
          description: Access token validated successfully.

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: ApiKey

  parameters:
    ProviderId:
      name: providerId
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/ProviderId'
    ClientId:
      name: clientId
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/ClientId'
    TenantId:
      name: tenantId
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/TenantId'

  schemas:
    ProviderId:
      type: string
      description: Unique identifier for a provider.
      example: 9b2e4d7a-8c3f-4b2a-9a1e-2d3c4e5f6a7b

    ProviderName:
      type: string
      description: Name of the provider.
      example: Acme Auth App

    ProviderDescription:
      type: string
      description: Description of the provider.
      example: Acme Auth App Description

    ClientId:
      type: string
      description: Unique identifier for a client.
      example: 550e8400-e29b-41d4-a716-446655440000

    ClientName:
      type: string
      description: Name of the client.
      example: Acme Auth Client

    ClientDescription:
      type: string
      description: Description of the client.
      example: Client for Acme Auth App

    TenantId:
      type: string
      description: Unique identifier for a tenant.
      example: 550e8400-e29b-41d4-a716-446655440000

    TenantName:
      type: string
      description: Name of the tenant.
      example: Acme Auth Tenant

    TenantDescription:
      type: string
      description: Description of the tenant.
      example: Tenant for Acme Auth App

    CreateProviderRequest:
      type: object
      description: Payload for creating a new provider.
      properties:
        name:
          $ref: '#/components/schemas/ProviderName'
        description:
          $ref: '#/components/schemas/ProviderDescription'
      required:
        - name
        - description

    CreateClientRequest:
      type: object
      description: Payload for creating a new client.
      properties:
        name:
          $ref: '#/components/schemas/ClientName'
        audience:
          type: string
          description: The audience of the client.
      required:
        - name
        - audience

    CreateTokenRequest:
      type: object
      description: Payload for creating a new access token.
      properties:
        expiresIn:
          type: string
          description: The expiration date and time of the access token in seconds. Cannot be more than 48 hours. The shorter the duration, the more secure it is.
        useJwtType:
          type: boolean
          description: When true, the access token header type will be set to `jwt` instead of `at+jwt`.
        audienceAsArray:
          type: boolean
          description: When true, the audience will be set as an array instead of a string.
        forceDefaultDomain:
          type: boolean
          description: When true, the default domain will be used in the issuer field.

    CreateTenantRequest:
      type: object
      description: Payload for creating a new tenant.
      properties:
        name:
          $ref: '#/components/schemas/TenantName'
        description:
          $ref: '#/components/schemas/TenantDescription'
      required:
        - name
        - description

    CreateTenantProviderRequest:
      type: object
      description: Payload for creating a new provider for a tenant.
      properties:
        url:
          type: string
          description: The URL of the provider.
        fingerprint:
          type: string
          description: The fingerprint of the provider.
        audience:
          type: string
          description: The audience of the provider.
        earliestIssuanceTimeAllowed:
          type: number
          description: The earliest issuance time allowed for the provider.
      required:
        - url
        - fingerprint
        - audience
        - earliestIssuanceTimeAllowed

    Provider:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ProviderId'
        name:
          $ref: '#/components/schemas/ProviderName'
        description:
          $ref: '#/components/schemas/ProviderDescription'
      required:
        - id
        - name
        - description

    Client:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ClientId'
        name:
          $ref: '#/components/schemas/ClientName'
        description:
          $ref: '#/components/schemas/ClientDescription'
      required:
        - id
        - name
        - description

    Token:
      type: object
      properties:
        accessToken:
          type: string
          description: Access token for the client.
        expiresAt:
          type: string
          description: Expiration date and time of the access token.
        type:
          type: string
          description: Type of the token.
      required:
        - accessToken
        - expiresAt
        - type

    Tenant:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TenantId'
        name:
          $ref: '#/components/schemas/TenantName'
        description:
          $ref: '#/components/schemas/TenantDescription'
      required:
        - id
        - name

    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message

  examples:
    CreateProviderRequestExample:
      summary: Example request for creating a provider.
      value:
        name: Acme App
        description: Provider for Acme application.

    CreateProviderResponseExample:
      summary: Example response for created provider.
      value:
        id: 9b2e4d7a-8c3f-4b2a-9a1e-2d3c4e5f6a7b
        name: Acme App
        description: Provider for Acme application.

    GetProviderResponseExample:
      summary: Example response for retrieving a provider.
      value:
        id: 9b2e4d7a-8c3f-4b2a-9a1e-2d3c4e5f6a7b
        name: Acme App
        description: Provider for Acme application.

    CreateClientRequestExample:
      summary: Example request for creating a client.
      value:
        name: Client Name
        audience: sts.amazonaws.com

    CreateClientResponseExample:
      summary: Example response for created client.
      value:
        id: 550e8400-e29b-41d4-a716-446655440000
        name: Client Name
        audience: sts.amazonaws.com

    GetClientResponseExample:
      summary: Example response for retrieving a client.
      value:
        id: 550e8400-e29b-41d4-a716-446655440000
        name: Client Name
        description: Client for Acme App.

    CreateTokenResponseExample:
      summary: Example response for created token.
      value:
        accessToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
        expiresAt: 2024-01-01T00:00:00Z
        type: Bearer

    CreateTenantRequestExample:
      summary: Example request for creating a tenant.
      value:
        id: 550e8400-e29b-41d4-a716-446655440000
        name: Tenant Name
        description: Tenant for Acme App.

    GetTenantResponseExample:
      summary: Example response for retrieving a tenant.
      value:
        id: 550e8400-e29b-41d4-a716-446655440000
        name: Tenant Name
        description: Tenant for Acme App.

  responses:
    BadRequest:
      description: Invalid request parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid or expired auth token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    CommonErrors:
      400:
        $ref: '#/components/responses/BadRequest'
      401:
        $ref: '#/components/responses/Unauthorized'
      404:
        $ref: '#/components/responses/NotFound'
      500:
        $ref: '#/components/responses/InternalError'

tags:
  - name: Providers
    description: A provider is like a isolated realm where you can create multiple clients and get access to the API. Each provider is a seperated entity.
  - name: Clients
    description: A client is an entity that can access the API, you can create multiple clients for a provider. The client will be configured with your target oidc provider.
  - name: AccessTokens
    description: Access tokens are generated for a client and can be used to access your target API.
  - name: Tenants
    description: Tenants are the group of identitiy provider which you can validate clients against.

security:
  - BearerAuth: []
