openapi: 3.1.0

info:
  title: UseGrant API
  description: API for interacting with UseGrant services.
  version: 1.0.0
  contact:
    email: support@usegrant.dev
    url: https://usegrant.dev/docs

servers:
  - url: https://sdk.usegrant.dev

paths:
  /v1/providers:
    get:
      summary: Get all providers
      description: Retrieve all providers.
      operationId: getProviders
      tags:
        - Providers
      responses:
        $ref: '#/components/responses/CommonErrors'
        200:
          description: Providers retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Provider'

    post:
      summary: Create provider
      description: Create a new provider.
      operationId: createProvider
      tags:
        - Providers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProviderRequest'
      responses:
        $ref: '#/components/responses/CommonErrors'
        201:
          description: Provider created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'

  /v1/providers/{providerId}:
    get:
      summary: Get provider
      description: Retrieve a provider by its ID.
      operationId: getProvider
      tags:
        - Providers
      parameters:
        - $ref: '#/components/parameters/ProviderId'
      responses:
        $ref: '#/components/responses/CommonErrors'
        200:
          description: Provider retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
    delete:
      summary: Delete provider
      description: Delete a provider by its ID.
      operationId: deleteProvider
      tags:
        - Providers
      parameters:
        - $ref: '#/components/parameters/ProviderId'
      responses:
        $ref: '#/components/responses/CommonErrors'
        204:
          description: Provider deleted successfully.

  /v1/providers/{providerId}/clients:
    get:
      summary: Get all clients
      description: Retrieve all clients.
      operationId: getClients
      tags:
        - Clients
      parameters:
        - $ref: '#/components/parameters/ProviderId'
      responses:
        $ref: '#/components/responses/CommonErrors'
        200:
          description: Clients retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Client'
    post:
      summary: Create client
      description: Create a new client within a specified provider.
      operationId: createClient
      tags:
        - Clients
      parameters:
        - $ref: '#/components/parameters/ProviderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClientRequest'
      responses:
        $ref: '#/components/responses/CommonErrors'
        201:
          description: Client created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'

  /v1/providers/{providerId}/clients/{clientId}:
    get:
      summary: Get client
      description: Retrieve a client by its ID.
      operationId: getClient
      tags:
        - Clients
      parameters:
        - $ref: '#/components/parameters/ProviderId'
        - $ref: '#/components/parameters/ClientId'
      responses:
        $ref: '#/components/responses/CommonErrors'
        200:
          description: Client retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'

    delete:
      summary: Delete client
      description: Delete a client by its ID.
      operationId: deleteClient
      tags:
        - Clients
      parameters:
        - $ref: '#/components/parameters/ProviderId'
        - $ref: '#/components/parameters/ClientId'
      responses:
        $ref: '#/components/responses/CommonErrors'
        204:
          description: Client deleted successfully.

  /v1/providers/{providerId}/clients/{clientId}/tokens:
    post:
      summary: Create access token
      description: Create a new access token for a client.
      operationId: createToken
      tags:
        - AccessTokens
      parameters:
        - $ref: '#/components/parameters/ProviderId'
        - $ref: '#/components/parameters/ClientId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTokenRequest'
      responses:
        $ref: '#/components/responses/CommonErrors'
        201:
          description: Token created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'

  /v1/tenants:
    get:
      summary: Get all tenants
      description: Retrieve all tenants.
      operationId: getTenants
      tags:
        - Tenants
      responses:
        $ref: '#/components/responses/CommonErrors'
        200:
          description: Tenants retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tenant'
    post:
      summary: Create tenant
      description: Create a new tenant.
      operationId: createTenant
      tags:
        - Tenants
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTenantRequest'
      responses:
        $ref: '#/components/responses/CommonErrors'
        201:
          description: Tenant created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'

  /v1/tenants/{tenantId}:
    get:
      summary: Get tenant
      description: Retrieve a tenant by its ID.
      operationId: getTenant
      tags:
        - Tenants
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        $ref: '#/components/responses/CommonErrors'
        200:
          description: Tenant retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
    delete:
      summary: Delete tenant
      description: Delete a tenant by its ID.
      operationId: deleteTenant
      tags:
        - Tenants
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        $ref: '#/components/responses/CommonErrors'
        204:
          description: Tenant deleted successfully.

  /v1/tenants/{tenantId}/providers:
    get:
      summary: Get all tenant providers
      description: Retrieve all providers for a tenant.
      operationId: getTenantProviders
      tags:
        - Tenants
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        $ref: '#/components/responses/CommonErrors'
        200:
          description: Tenant providers retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TenantProvider'
    post:
      summary: Create tenant provider
      description: Create a new provider for a tenant.
      operationId: createProviderForTenant
      tags:
        - Tenants
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTenantProviderRequest'
      responses:
        $ref: '#/components/responses/CommonErrors'
        201:
          description: Provider created successfully.

  /v1/tenants/{tenantId}/validate:
    post:
      summary: Validate access token
      description: Validate an access token.
      operationId: validateAccessToken
      tags:
        - Tenants
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  $ref: '#/components/schemas/JwtToken'
      responses:
        $ref: '#/components/responses/CommonErrors'
        200:
          description: Access token is valid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  isValid:
                    type: boolean

  /v1/tenants/{tenantId}/providers/{providerId}:
    get:
      summary: Get tenant provider
      description: Retrieve a tenant provider by its ID.
      operationId: getTenantProvider
      tags:
        - Tenants
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/TenantProviderId'
      responses:
        $ref: '#/components/responses/CommonErrors'
        200:
          description: Provider retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantProvider'
    delete:
      summary: Delete tenant provider
      description: Delete a tenant provider by its ID.
      operationId: deleteTenantProvider
      tags:
        - Tenants
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/TenantProviderId'
      responses:
        $ref: '#/components/responses/CommonErrors'
        204:
          description: Tenant provider deleted successfully.

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: ApiKey

  parameters:
    ProviderId:
      name: providerId
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/ProviderId'
    ClientId:
      name: clientId
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/ClientId'
    TenantId:
      name: tenantId
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/TenantId'
    TenantProviderId:
      name: tenantProviderId
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/TenantProviderId'

  schemas:
    ProviderId:
      type: string
      description: Unique identifier for a provider.
      format: uuid

    ProviderName:
      type: string
      description: Name of the provider.
      example: Acme Auth App

    ProviderDescription:
      type: string
      description: Description of the provider.
      example: Acme Auth App Description

    ClientId:
      type: string
      description: Unique identifier for a client.
      format: uuid

    ClientName:
      type: string
      description: Name of the client.
      example: Acme Auth Client

    ClientAudience:
      type: string
      description: Audience of the client.
      example: sts.amazonaws.com

    TenantId:
      type: string
      description: Unique identifier for a tenant.
      format: uuid

    TenantName:
      type: string
      description: Name of the tenant.
      example: Acme Auth Tenant

    TenantDescription:
      type: string
      description: Description of the tenant.
      example: Tenant for Acme Auth App

    TenantProviderId:
      type: string
      description: Unique identifier for a tenant provider.
      format: uuid

    JwtToken:
      type: string
      description: JWT token.
      example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c

    CreateProviderRequest:
      type: object
      description: Payload for creating a new provider.
      properties:
        name:
          $ref: '#/components/schemas/ProviderName'
        description:
          $ref: '#/components/schemas/ProviderDescription'
      required:
        - name
        - description

    CreateClientRequest:
      type: object
      description: Payload for creating a new client.
      properties:
        name:
          $ref: '#/components/schemas/ClientName'
        audience:
          $ref: '#/components/schemas/ClientAudience'
      required:
        - name
        - audience

    CreateTokenRequest:
      type: object
      description: Payload for creating a new access token.
      properties:
        expiresIn:
          type: number
          description: The expiration date and time of the access token in seconds. Cannot be more than 48 hours. The shorter the duration, the more secure it is.
        useJwtType:
          type: boolean
          description: When true, the access token header type will be set to `jwt` instead of `at+jwt`.
        audienceAsArray:
          type: boolean
          description: When true, the audience will be set as an array instead of a string.
        forceDefaultDomain:
          type: boolean
          description: When true, the default domain will be used in the issuer field.

    CreateTenantRequest:
      type: object
      description: Payload for creating a new tenant.
      properties:
        name:
          $ref: '#/components/schemas/TenantName'
        description:
          $ref: '#/components/schemas/TenantDescription'
      required:
        - name
        - description

    CreateTenantProviderRequest:
      type: object
      description: Payload for creating a new provider for a tenant.
      properties:
        url:
          type: string
          description: The URL of the provider.
          example: https://usegrant.dev
        fingerprints:
          type: array
          items:
            type: string
          description: The fingerprints of the provider.
          example:
            - 990F4193972F2BECF12DDEDA5237F9C952F20D9E
        audience:
          type: string
          description: The audience of the provider.
          example: sts.amazonaws.com
        earliestIssuanceTimeAllowed:
          type: number
          description: The earliest issuance time allowed for the provider.
          example: 1713033600
      required:
        - url
        - fingerprints
        - audience
        - earliestIssuanceTimeAllowed

    Provider:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ProviderId'
        name:
          $ref: '#/components/schemas/ProviderName'
        description:
          $ref: '#/components/schemas/ProviderDescription'
      required:
        - id
        - name
        - description

    Client:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ClientId'
        name:
          $ref: '#/components/schemas/ClientName'
        audience:
          $ref: '#/components/schemas/ClientAudience'
      required:
        - id
        - name
        - audience

    Token:
      type: object
      properties:
        accessToken:
          $ref: '#/components/schemas/JwtToken'
        expiresAt:
          type: string
          description: Expiration date and time of the access token.
          example: 2024-01-01T00:00:00Z
        type:
          type: string
          description: Type of the token.
          example: Bearer
      required:
        - accessToken
        - expiresAt
        - type

    Tenant:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TenantId'
        name:
          $ref: '#/components/schemas/TenantName'
        description:
          $ref: '#/components/schemas/TenantDescription'
      required:
        - id
        - name
        - description

    TenantProvider:
      type: object
      properties:
        id:
          type: string
          description: The ID of the provider.
          example: 9b2e4d7a-8c3f-4b2a-9a1e-2d3c4e5f6a7b
        url:
          type: string
          description: The URL of the provider.
          example: https://usegrant.dev
        fingerprints:
          type: array
          description: The fingerprints of the provider.
          example: ['990F4193972F2BECF12DDEDA5237F9C952F20D9E']
        audience:
          type: string
          description: The audience of the provider.
          example: sts.amazonaws.com
        earliestIssuanceTimeAllowed:
          type: number
          description: The earliest issuance time allowed for the provider.
          example: 1713033600
      required:
        - id
        - url
        - fingerprint
        - audience
        - earliestIssuanceTimeAllowed

    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message

  responses:
    BadRequest:
      description: Invalid request parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid or expired auth token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    CommonErrors:
      400:
        $ref: '#/components/responses/BadRequest'
      401:
        $ref: '#/components/responses/Unauthorized'
      404:
        $ref: '#/components/responses/NotFound'
      500:
        $ref: '#/components/responses/InternalError'

tags:
  - name: Providers
    description: A provider is like a isolated realm where you can create multiple clients and get access to the API. Each provider is a seperated entity.
  - name: Clients
    description: A client is an entity that can access the API, you can create multiple clients for a provider. The client will be configured with your target oidc provider.
  - name: AccessTokens
    description: Access tokens are generated for a client and can be used to access your target API.
  - name: Tenants
    description: Tenants are the group of identitiy provider which you can validate clients against.

security:
  - BearerAuth: []
