openapi: 3.1.0

info:
  title: UseGrant API
  description: API for interacting with UseGrant services.
  version: 1.0.0
  contact:
    email: support@usegrant.dev
    url: https://usegrant.dev/docs

servers:
  - url: https://sdk.usegrant.dev

paths:
  /v1/providers:
    post:
      summary: Create a provider
      description: Create a new provider.
      operationId: createProvider
      tags:
        - Providers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProviderRequest'
            examples:
              default:
                $ref: '#/components/examples/CreateProviderRequestExample'
      responses:
        201:
          description: Provider created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
              examples:
                default:
                  $ref: '#/components/examples/CreateProviderResponseExample'
        allErrors:
          $ref: '#/components/responses/AllErrorResponses'

  /v1/providers/{providerId}:
    get:
      summary: Get a provider
      description: Retrieve a provider by its ID.
      operationId: getProvider
      tags:
        - Providers
      parameters:
        - $ref: '#/components/parameters/ProviderId'
      responses:
        200:
          description: Provider retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
              examples:
                default:
                  $ref: '#/components/examples/GetProviderResponseExample'
        allErrors:
          $ref: '#/components/responses/AllErrorResponses'

    delete:
      summary: Delete a provider
      description: Delete a provider by its ID.
      operationId: deleteProvider
      tags:
        - Providers
      parameters:
        - $ref: '#/components/parameters/ProviderId'
      responses:
        204:
          description: Provider deleted successfully.
        allErrors:
          $ref: '#/components/responses/AllErrorResponses'

  /v1/providers/{providerId}/clients:
    post:
      summary: Create a client
      description: Create a new client within a specified provider.
      operationId: createClient
      tags:
        - Clients
      parameters:
        - $ref: '#/components/parameters/ProviderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClientRequest'
            examples:
              default:
                $ref: '#/components/examples/CreateClientRequestExample'
      responses:
        201:
          description: Client created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
              examples:
                default:
                  $ref: '#/components/examples/CreateClientResponseExample'
        allErrors:
          $ref: '#/components/responses/AllErrorResponses'

  /v1/providers/{providerId}/clients/{clientId}:
    get:
      summary: Get a client
      description: Retrieve a client by its ID.
      operationId: getClient
      tags:
        - Clients
      parameters:
        - $ref: '#/components/parameters/ProviderId'
        - $ref: '#/components/parameters/ClientId'
      responses:
        200:
          description: Client retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
              examples:
                default:
                  $ref: '#/components/examples/GetClientResponseExample'
        allErrors:
          $ref: '#/components/responses/AllErrorResponses'

    delete:
      summary: Delete a client
      description: Delete a client by its ID.
      operationId: deleteClient
      tags:
        - Clients
      parameters:
        - $ref: '#/components/parameters/ProviderId'
        - $ref: '#/components/parameters/ClientId'
      responses:
        204:
          description: Client deleted successfully.
        allErrors:
          $ref: '#/components/responses/AllErrorResponses'

  /v1/providers/{providerId}/clients/{clientId}/tokens:
    post:
      summary: Create access token
      description: Create a new access token for a client.
      operationId: createToken
      tags:
        - AccessTokens
      parameters:
        - $ref: '#/components/parameters/ProviderId'
        - $ref: '#/components/parameters/ClientId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTokenRequest'
      responses:
        201:
          description: Token created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
              examples:
                default:
                  $ref: '#/components/examples/CreateTokenResponseExample'
        allErrors:
          $ref: '#/components/responses/AllErrorResponses'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: ApiKey

  parameters:
    ProviderId:
      name: providerId
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/ProviderId'
    ClientId:
      name: clientId
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/ClientId'

  schemas:
    ProviderId:
      type: string
      description: Unique identifier for a provider.
      example: 9b2e4d7a-8c3f-4b2a-9a1e-2d3c4e5f6a7b

    ProviderName:
      type: string
      description: Name of the provider.
      example: Acme Auth App

    ProviderDescription:
      type: string
      description: Description of the provider.
      example: Acme Auth App Description

    ClientId:
      type: string
      description: Unique identifier for a client.
      example: 550e8400-e29b-41d4-a716-446655440000

    ClientName:
      type: string
      description: Name of the client.
      example: Acme Auth Client

    ClientDescription:
      type: string
      description: Description of the client.
      example: Client for Acme Auth App

    CreateProviderRequest:
      type: object
      description: Payload for creating a new provider.
      properties:
        name:
          $ref: '#/components/schemas/ProviderName'
        description:
          $ref: '#/components/schemas/ProviderDescription'
      required:
        - name
        - description

    CreateClientRequest:
      type: object
      description: Payload for creating a new client.
      properties:
        name:
          $ref: '#/components/schemas/ClientName'
        description:
          $ref: '#/components/schemas/ClientDescription'
      required:
        - name
        - description

    CreateTokenRequest:
      type: object
      description: Payload for creating a new access token.
      properties:
        expiresIn:
          type: string
          description: The expiration date and time of the access token in seconds. Cannot be more than 48 hours. The shorter the duration, the more secure it is.
        useJwtType:
          type: boolean
          description: When true, the access token header type will be set to `jwt` instead of `at+jwt`.
        audienceAsArray:
          type: boolean
          description: When true, the audience will be set as an array instead of a string.
        forceDefaultDomain:
          type: boolean
          description: When true, the default domain will be used in the issuer field.

    Provider:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ProviderId'
        name:
          $ref: '#/components/schemas/ProviderName'
        description:
          $ref: '#/components/schemas/ProviderDescription'
      required:
        - id
        - name
        - description

    Client:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ClientId'
        name:
          $ref: '#/components/schemas/ClientName'
        description:
          $ref: '#/components/schemas/ClientDescription'
      required:
        - id
        - name
        - description

    Token:
      type: object
      properties:
        accessToken:
          type: string
          description: Access token for the client.
        expiresAt:
          type: string
          description: Expiration date and time of the access token.
        type:
          type: string
          description: Type of the token.
      required:
        - accessToken
        - expiresAt
        - type
  examples:
    CreateProviderRequestExample:
      summary: Example request for creating a provider.
      value:
        name: Acme App
        description: Provider for Acme application.

    CreateProviderResponseExample:
      summary: Example response for created provider.
      value:
        id: 9b2e4d7a-8c3f-4b2a-9a1e-2d3c4e5f6a7b
        name: Acme App
        description: Provider for Acme application.

    GetProviderResponseExample:
      summary: Example response for retrieving a provider.
      value:
        id: 9b2e4d7a-8c3f-4b2a-9a1e-2d3c4e5f6a7b
        name: Acme App
        description: Provider for Acme application.

    CreateClientRequestExample:
      summary: Example request for creating a client.
      value:
        name: Client Name
        description: Client for Acme App.

    CreateClientResponseExample:
      summary: Example response for created client.
      value:
        id: 550e8400-e29b-41d4-a716-446655440000
        name: Client Name
        description: Client for Acme App.

    GetClientResponseExample:
      summary: Example response for retrieving a client.
      value:
        id: 550e8400-e29b-41d4-a716-446655440000
        name: Client Name
        description: Client for Acme App.

    CreateTokenResponseExample:
      summary: Example response for created token.
      value:
        accessToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
        expiresAt: 2024-01-01T00:00:00Z
        type: Bearer

  responses:
    AllErrorResponses:
      description: Common error responses.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
      responses:
        400:
          description: Invalid request parameters.
        401:
          description: Authentication is required.
        404:
          description: Resource not found.
        500:
          description: Internal server error.

tags:
  - name: Providers
    description: Providers that interact with UseGrant services.
  - name: Clients
    description: Client entities that interact with UseGrant services.
  - name: AccessTokens
    description: Access tokens for clients.

security:
  - BearerAuth: []
